$mainColor: #FFF;
$secondColor: #222;
$backgroundColor: #E5E5E5;
$colorTextDark: #222;
$buttonColor: #70B2FF;
$buttonTextColor: #FFF;
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$container-max-widths: (
  xs: 358px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px,
);
$z-index-bg: 2;
$z-index-media: 5;
$z-index-content: 10;
$z-index-hight-content: 50;
$z-index-popup: 100;
