@import '../utils/mixins';
@import '../utils/variables';

.header {
  @include reset;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  background-color: $secondColor;
  align-items: center;

  &__img {
    width: 27.44px;
    height: 28px;
    padding-left: 14.7px;
  }
}
