@import '../utils/mixins';
@import '../utils/variables';

.layout {
  @include reset;
  
  min-width: 1000px;
  position: relative;
  background-color: $backgroundColor;
  overflow-y: auto;

  &__page {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: 874px;
    max-height: 498px;
    background-color: $mainColor;
    z-index: $z-index-bg;
  }

  &__title {
    @include reset;
    @include text;
    @include text-format(43px, 700, 0.83);

    letter-spacing: -2px;
    color: $colorTextDark;
  }

  &__description {
    @include reset;
    @include text;
    @include text-format(15px, 400, 1.46);

    color: $colorTextDark;
  }
}
