@import '../utils/mixins';
@import '../utils/variables';

.layout {
  @include reset;
  
  min-width: 1000px;
  position: relative;
  background-color: $backgroundColor;

  &__page {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: 874px;
    min-height: 498px;
    background-color: $mainColor;
    z-index: $z-index-bg;
  }
}
