@import '../utils/mixins';
@import "../utils/variables";

.page {
  @include reset;

  height: 100vh;
  overflow-x: auto;

  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
  }
}
