@import '../../utils/mixins';
@import '../../utils/variables';

.ui-text-header {
  @include reset;
  @include text;
  @include text-format(43px, 700, 0.83);

  width: 374px;
  height: 46px;
  letter-spacing: -2px;
  color: $colorTextDark;
}
