@import '../../utils/mixins';
@import '../../utils/variables';

.ui-text-paragraph {
  @include reset;
  @include text;
  @include text-format(15px, 400, 1.46);

  width: 374px;
  height: 160px;
  color: $colorTextDark;
}
